body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #2A2A2A;
}
section{
  max-width: 40%;
  margin: 0 auto;
  height: 730px;
  background-color: #D0BFA5;
} 
header{
  position: relative;
  height: 50px;
  line-height: 50px;
  background-color: #2A2A2A;
}
.avatar-container span{
  color: #ffffff;
}
.avatar-container a{
  cursor: pointer;
  color: #ffffff;
  font-weight:bold;
  text-decoration: none; 
}
header input{
  margin-right:30px;
  border-radius: 5px;
  border: none;
  height: 45%;
  width: 50%;
  /* opacity: 0.5px; */
  position: relative;
  top: -50px;
  left: 100px;
  background-color: #393A3F; 
  text-align: center;
}
header button {
  background-color: #2A2A2A;
  color:#ffffff;
  border:none;
  font-size: 30px;
  position: relative;
  top: -43px;
  right: -35.5%;
  cursor: pointer;
}
ul{
  margin: 0; 
}
ul .emptyTip{
  display: inline-block;
  border: 1px solid #db7d7d;
  border-radius: 5px;
  background-color: #db7d7d;
  color: #ffffff;
  font-weight: bold;
  width: 90%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
ul li{
  list-style: none;
  position: relative;
  left: -20px;
  display: block;
  height: 40px;
  border-bottom:1px solid #eeeeee;
  line-height: 40px;
}
li input{
  border:none;
  background: #D0BFA5;
}
.item .editItem{
  display: inline-block;
  height: 27px;
  width: 90%;
}
.item .editPlus{
  border:1px solid rgba(7, 132, 235, 0.623);
  border-radius: 50%;
  color: rgba(7, 132, 235, 0.623);
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  top: -28px;
  left: 90%;
  font-size: 17px;
  cursor: pointer;
}
.newitem{
  margin:0 5%; 
  list-style: none;
  border-bottom: 1px solid #eeeeee;
}
.newitem label{
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}
.newitem input{
  height: 27px;
  width: 90%;
}
nav{
  display: block;
  padding: 0 18px;
  border-bottom: 2px solid #eeeeee;
  background-color: #ffffff;
  height: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  line-height: 50px;
}
nav span{
  display: inline-block;
  color: #BA8047;
  font-size: 20px ;
}
nav div{
  display: block;
  float: right;
  text-align: center;
  line-height: 25px;
}
.ItemsList{
  /* background-color: #ffffff; */
}
footer{
  position: fixed;
  bottom: 0;
  width: 40%;
  border-radius: 6px;
}
footer .showFinished{
  background-color: #ffffff; 
  /* border: 1px solid #ffffff; */
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  padding-top: 8px; 
}
.blank{
  background-color: #2A2A2A;
  height: 15px;
  /* border-radius: 5px; */
}
footer .showTodayPlan{
  text-align: center;
  background-color: #D0BFA5;
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px;
  cursor: pointer;
}

